.contenedor{
    height: calc (100vh - 244px);
    overflow: auto;
}

.letratitulo{
    font-size: 40px;
}
.principal{
    margin-bottom: 0px;
     border: solid 1px #080808;
    background: white;
}

.divFooter{
    background:  #2C2C2C;
    color: white;
      margin-top: 50px;
    height: 50px;
}
.parrafo{
    font-family: serif;
    font-size: 40px;
 
}
.centro{
    text-align: center;
    font-family: Berlin Sans FB;
    font-size: 18px;
}

.panelfondo{
    border: solid black;    
}
.letra{
    margin-top: 680px;
    font-size: 20px;
    font-family: serif;
}